{
  "presets": [["@babel/preset-env", { "modules": false }]],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "syntax-trailing-function-commas"
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
          "@babel/plugin-transform-runtime",
          {
            "corejs": false,
            "helpers": false,
            "regenerator": true,
            "useESModules": false
          }
        ],
        "syntax-trailing-function-commas"
      ],
    }
  }
}
