$primary-color: rgba(66, 66, 66, 1);
$primary-color-text: rgba(255, 255, 255, 1);
$primary-color-light: rgba(109, 109, 109, 1);
$primary-color-light-text: rgba(255, 255, 255, 1);
$primary-color-dark: rgba(27, 27, 27, 1);
$primary-color-dark-text: rgba(255, 255, 255, 1);
$accent-color: rgba(170, 0, 255, 1);
$accent-color-text: rgba(255, 255, 255, 1);
$accent-color-light: rgba(226, 84, 255, 1);
$accent-color-light-text: rgba(0, 0, 0, 1);
$accent-color-dark: rgba(114, 0, 202, 1);
$accent-color-dark-text: rgba(255, 255, 255, 1);
